flows.json
[
    {
        "id": "9ed7bec2111dbe54",
        "type": "http response",
        "z": "6c7d92ecb4d70fba",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "c6dcfa1611101514",
        "type": "http in",
        "z": "6c7d92ecb4d70fba",
        "name": "/get-temp",
        "url": "/get-temp",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "3f08c7f438f31a80"
            ]
        ]
    },
    {
        "id": "3f08c7f438f31a80",
        "type": "http request",
        "z": "6c7d92ecb4d70fba",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost/thaycop/getdata.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 620,
        "wires": [
            [
                "a8d95d1f7484d26b"
            ]
        ]
    },
    {
        "id": "a8d95d1f7484d26b",
        "type": "function",
        "z": "6c7d92ecb4d70fba",
        "name": "function 2",
        "func": "// Chuyển đổi chuỗi JSON thành đối tượng JavaScript\nvar data = JSON.parse(msg.payload);\n\n// Lọc ra chỉ dữ liệu về nhiệt độ (Temperature) và ngày (Date)\nvar filteredData = data.map(function(item) {\n    return {\n        Temperature: item.Temperature,\n        Date: item.Date.date\n    };\n});\n\n// Gửi dữ liệu đã lọc tới đầu ra\nmsg.payload = filteredData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 620,
        "wires": [
            [
                "9ed7bec2111dbe54"
            ]
        ]
    }
]